/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ----------------
Common Styles or utilities
--------------------*/
body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

.course-container {
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* --------------
top players style
----------------- */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    padding-left: 16px;
    font-size: 18px;
}

/* ----------------
Top blogs style
------------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

/* -------------
Courses Style 
--------------- */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.course {
    width: 252px;
    height: 270px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.096);
}

.course-banner img {
    width: 224px;
    height: 104px;
}

.course-title {
    color: #1E1E1E;
    font-size: 20px;
}

.course-author {
    color: #ED6B4F;
    font-size: 15px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    opacity: 0.25;
}

span {
    margin-left: 11px;
    font-size: 15px;
    color: #A2A2A2;
}

.course-duration {
    background-color: #FFE4E8;
    padding: 5px;
    color: #FF4A60;
    border-radius: 15px;
    font-size: 14px;
}

.fa-clock {
    padding-right: 5px;
}

/* -----------
Media Queries
-------------- */

/* Mobile Devices */
@media only screen and (max-width: 688px) {
    body {
        margin: 0px
    }

    .container {
        width: 99%;
        padding: 30px 0px;
        margin: 0px;
    }

    .section-title {
        text-align: center;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .player,
    .blog {
        flex-direction: column;
    }

    .course-container {
        margin-top: 21px;
    }

    .course {
        width: 252px;
        height: auto;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    body {
        margin: 0px
    }

    .container {
        width: 99%;
        padding: 30px 0px;
        padding-left: 30px;
        margin: 0px;
    }

    .course-container {
        margin-top: 21px;
    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .courses {
        justify-items: center;
    }

    .blogs {
        grid-template-columns: 1fr;
    }
}